.container{
  width:500px;
  height:500px;
  border:1px solid black;
  margin:0 auto;
  padding:4px;
}

.container>button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float:left;
  width:50px;
  height:50px;
  border:1px solid black;
  background-color:#f0f8ff;
  color:#1d1f1f;
  font-size: 20px;
  cursor: pointer; 
}
